homework2/givencode/hw2_gusdal_marihove_r1080472.tex
homework3/hw3_lastname_firstname_studentnumber.tex
homework2/givencode/hw2_lastname_firstname_studentnumber.pdf
homework2/givencode/hw2_lastname_firstname_studentnumber.tex

homework2/.DS_Store
.DS_Store
homework2/givencode/time_spent.txt
homework3/hw3_lastname_firstname_studentnumber.pdf
homework2/hw2_gusdal_marihove_r1080472.zip
homework3/hw3_lastname_firstname_studentnumber.aux
homework3/hw3_lastname_firstname_studentnumber.fdb_latexmk
homework3/hw3_lastname_firstname_studentnumber.fls
homework3/hw3_lastname_firstname_studentnumber.log
homework3/time_spent.txt
practice

